/*defaults*/

* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	color: #fff;
}


h2 {
	font-family: 'Lobster', cursive;
	color: brown;
}

/*loader*/


#loader {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    background: url('../images/loading.gif') no-repeat center center;
    z-index: 9999;
}

.img-header {
	background-size: cover;
	background-attachment: fixed;
	max-height: 100%;
	min-height: 100vh;
	min-width: 100vw;
	position: relative;
	top: 0;
	left: 0;
}

.img-header2 {
	background-size: cover;
	max-height: 100%;
	min-height: 100vh;
	min-width: 100vw;
	position: relative;
	top: 0;
	left: 0;
}

.header-bg1 {
	background-image: url('../images/wallpaper.jpg');
}

.header-bg2 {
	background-image: url('../images/wallpaper2.jpg');
}




/*landing*/

.landing-header {
	position: relative;
	top: 100px;
	width: 50%;
	border-radius: 7px;
	padding: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.landing-text {
	font-size: 25px;
	margin-top: 150px;

}

.landing-header h2 {
	color: white;
	font-size: 2.5vw;
	font-family: 'Raleway', sans-serif;
	line-height: 1.2;
	text-shadow: 1px 1px 1px black;

}

h2.bold {
	font-weight: 200px;
	font-style: normal;
	font-size: 4vw;
}

h2.superbold  {
	font-weight: bolder;
	font-style: normal;
	font-size: 2.5vw;
}


/*################################################custom BS nav###############################################*/

.logo-fonts {
	font-family: 'Lobster', cursive;
	margin: 0;
	padding: 0;
	font-size: 40px;
	text-shadow: 1px 1px 5px  black;
}

.img-logo {
    width: 80px;
    height: 50px;
    position: relative;
    bottom: 10px;
}

.cafe-logo {
	color: 	brown;
	font-size: 40px;
}

.navbar {
	margin-bottom: 0;
	min-height: 80px;
	padding-left: 50px;
	padding-right: 50px;
	
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 2vw;
	text-shadow: 1px 1px 1px black;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #DEBDD0;
}

.navbar-default .navbar-nav>li>a:hover {
 border-top: 5px solid white;
 margin-top: -5px;

}

.navbar-brand {
	padding: 10px 20px;
	height: 70px;

}

.navbar-brand > h1 {
	color: #fff;
}

.navbar-collapse {
	margin-top: 5px;
	border-top: 0px solid white
}



.navbar-default {
	background-color: rgba(191, 124, 32, 0.0);
	color: #fff;
	border: none;
}

.noPadding {
	padding-left: 0;
	padding-right: 0;
}



/*#########################MENU###########################*/

.menu-img {
	height: 100px;
	width: 200px;
}



.footer-bg {
	background-color: black;
}







/*################################### content #################################*/

section > .container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}

.container-fluid .jumbotron {
	border-radius: 0;
}


/*desktop*/

@media only screen and (max-width: 980px) {
	.img-header {
		min-height: 60vh;
	}
	/*######################### NAV ##########################*/

	.logo-fonts {
		font-size: 30px;
	}
	.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    border-top: 0 solid white;
	}

	.navbar-default {
	background: linear-gradient(to bottom, rgb(112, 86, 63), rgb(80, 70, 50));
	}

	.navbar-default .navbar-nav>li>a {
		font-size: 20px;
	}

	.navbar {
		margin-top: 0px;
		padding-left: 0px;
		padding-right: 0px;
		min-height: 60px;
	}

	.navbar-brand {
		height: 50px;
	}


	/*##################### LANDING HEADER ######################*/

	.landing-header {
		display: none;
	}

}

    

/*tablet*/

@media only screen and (min-width: 300px) and (max-width: 980px) {
	.allocation-top {
		margin-top: 60px;
	}


}
