* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	background-color: grey;
	text-align: center;
}

.wrapper {
	background-color: white;
	width: 80vw;
	height: 100vh;
	margin: 0 auto;
}

 p {
 	font-size: 50px;
 }

.clear:after {
	content: "";
	display: block;
	clear: both;
} 

input {
	font-size: 30px;
	width: 50px;
	padding: 5px;
	margin: 4px;
}



