

body {
	background: url('../img/bg2.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;	
}

#me {
	width: 100px;
	height: 100px;
	padding: 1px;
	box-shadow: 1px 1px 2px;
	border-radius: 50%;
	border: 3px solid white;
	margin-top: 30px;
}

body h1, h2 {
	font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 4px;
}

.line {
    border-bottom: 1px solid white;
    margin: 5px auto;
    width: 50%;
}

h1 {
	font-size: 40px;
	margin-bottom: 0;
    color: white;
}

h2 {
	text-transform:  uppercase;
	letter-spacing: 1px;
    font-size: 16px;
    color: white;
}



.container {
	color: #041F37;
	font-family: 'Slabo 27px', serif;
	text-align: center;
    display: block;
    margin-top: 200px;

}

.about {
	width: 800px;
	display: block;
	margin: auto;
    color: #FFE6AA;
}

p.about-p {
    font-size: 18px;
    line-height: 1.5
}