.white-borderContainer {
	border: 7px solid brown;
	border-radius: 7px;
	height: 150px;
	width: 150px;
	padding: 10px 10px 50px 10px;
	margin: 10px;
}

.marginRemove {
	margin: 0;
}

.greybox2 {
	height: 150px;
	width: 150px;
	margin: 0px;
	border-radius: 7px;
	border: 1px solid white;
}


.container .white-borderContainer {
	box-sizing: content-box;
}

