/*defaults*/


body {
	color: white;
	font-family: sans-serif;
	font-size: 14px;
}


.page-wrapper {
	margin: 0 auto;
	width: 1000px;
}

.container {
	width: 700px;
	height: auto;
	padding: 10px;
	overflow: auto;
	background-color: black;
	margin: 0 auto;
}

.greybox {
	height: 150px;
	width: 150px;
	margin: 10px;
	background-color: gray;
}

.left {
	float: left;
}

.marginRemove {
	margin: 0;
}


.text-center {
	text-align: center;
}



/*act2 CSS*/

.white-borderContainer {
	border: 1px solid white;
	height: 150px;
	width: 150px;
	padding: 10px 10px 50px 10px;
	margin: 10px;
}

.marginRemove {
	margin: 0;
}

/*act 3*/

.rightMargin {
	margin-right: 10px;
}


/*act 4*/

.leftSide {
	width: 20%;
	float: left;
}

.rightSide {
	width: 77%;
	float: right;
}

/*act 5*/

.small-greybox {
	height: 50px;
	width: 50px;
	background-color: gray;
}

.small-leftSide {
	width: 7%;
	float: left;
}

.wide-rightSide {
	width: 92%;
	float: right;
}

.comment-textarea {
	width: 99%;
	height: 100px;
}

.btn-pos {
	position: relative;
	float: right;
}


/*act 6*/

.cmnt {
	font-size: 10px;
	font-style: italic;
}
.cmnt-name {
	font-size: 14px;
}

.cmnt-margin {
	margin-bottom: 10px;
}

.wrd-spacing {
	word-spacing: 3px;
}

.reply-wrapper {
	overflow: auto;
	border-left: 1px solid white;
	padding-left: 5px;
}


/*Act 7*/

.med-container {
	width: 500px;
}

.leftSide-40 {
	float: left;
	width: 40%;
}

.rightSide-59 {
	float: right;
	width: 59%;
}

.act7-graybox {
	height: 100px;
	width: 100%;
	background-color: gray;
}

.grayColor {
	color: gray;
}

/*act 8*/

.leftSide-59 {
	float: left;
	width: 59%;
}

.rightSide-40 {
	float: right;
	width: 40%;
}

/* act 9*/

.leftSide-30 {
	float: left;
	width: 30%;
}

.rightSide-69 {
	float: right;
	width: 69%;
}

h2 {
	font-size: 32px;
}

.greybox-act8 {
	height: 150px;
	width: 150px;
	margin-right: 5px;
	margin-bottom: 5px;
	background-color: gray;
	float: left;
}

/*act 10*/


.finalContainer {
	width: 1000px;
	height: auto;
	padding: 10px;
	overflow: auto;
	background-color: black;	
	margin: auto;
}

.finalLeftSide {
	width: 60%;
	float: left;
	height: auto;
}

.finalRightSide {
	width: 40%;
	float: right;
	overflow: auto;
}


.finalWhiteBorder {
	width: 150px;
	padding: 5px;
	margin: 10px;
	float: left;
	border: 1px solid white;
}

.finalGrayBox {
	height: 100px;
	width: 150px;
	background-color: gray;
}

.largeGrayRect {
	width: 100%;
	height: 200px;
	background-color: gray;
}

.baguioBox {
	height: 100px;
	width: 150px;
	margin-right: 5px;
	float: left;
	background-color: gray;
}

ul {
	padding: 0;
}
nav ul li {
	list-style: none;
	display: inline;
	margin-right: 5px;
	background-color: gray;
}



/*custom extras*/

/*act1*/

.act1-bgcolor {
	background-color: #6599FF;
}

div.greybox.left img {
	width: 150px;
	height: 150px;
	border: 1px solid white;
	border-radius: 50%;
}

div[class="greybox left"] {
	border: 2px solid #097054;
	background-color: #fff;
	border-radius: 50%;

}

/*act2*/

.act2-bgcolor {
	background-color: #AD7460;
}

.centerMe {
	margin: auto;
}
.wanted {
	background-color: black;
	margin: 0;
	padding: 0;
	color: white;
}

div[class="white-borderContainer left"] {
	background-color: #F9E3CB;
}

div.greybox.marginRemove img{
	width: 150px;
	height: 150px;
}

.container.act2-bgcolor .white-borderContainer p {
	color: black;
	font-weight: bold;

}



/*act 3*/

.act3-bgimg {
	background-color: gray;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.act3-bgimg img {
	height: 100%;
	width: 100%;
}

